.classes{
  display: flex;
  flex-direction: column;
}
.card{
  padding: 0px;
  background-color: $primary-color;
  border-radius: 0px;
}

.item--details{
  padding: 0px;
}


.invitacion-gym {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 50%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

